body {
    background: white url("images/maruhuwa.gif");
}

.title {
    margin: 20px 10px 20px 10px;
    padding: 1rem 2rem;
    border-radius: 10px;
    background-image: linear-gradient(left, rgba(250, 140, 160, 0.5) 0%, rgba(255, 200, 70, 0.8) 100%);
    background-image: linear-gradient(to right, rgba(250, 140, 160, 0.5) 0%, rgba(255, 200, 70, 0.8) 100%);
    font-family: cursive;
}

.menu {
    font-family: "メイリオ";
    border-bottom: 3px dashed hotpink;
    width: 400px;
}

a:link {
    color: mediumvioletred;
}

a:hover {
    color: darkmagenta;
}

a:visited {
    color: blueviolet;
}

.breadcrumb {
    margin: 10px 10px 10px 10px;
    background-color: rgb(246, 193, 193);
}

.margin_base {
    margin: 30px 0px 20px 30px;
}

.margin_second {
    margin: 0px 0px 0px 30px;
}

.nearest,
.priolity {
    font-size: 20px;
    width: 70%;
}

.attention {
    font-size: xx-large;
}

.alert {
    font-size: x-large;
}

.sentence {
    font-size: large;
}

.todo {
    width: 70%;
}

.todo_detail {
    margin: 30px 0px 30px 30px;
}

.priolity_list {
    border-collapse: separate;
    border-spacing: 25px 10px;

}

th {
    font-size: 13px;
    height: 12px;
    text-align: center;
}

.number {
    font-size: 30px;
    width: 5%;
}

.create_form {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    /* 横幅 */
    max-width: 800px;
    /* 横幅の最大値 */
    /* color: #6091d3; */
    /*文字色*/
    /* background: #FFF; */
    border: solid 3px hotpink;
    /*線*/
    border-radius: 10px;
    /*角の丸み*/
}

.create_form p {
    margin: 0;
    padding: 0;
}

.create_fin {
    border-collapse: separate;
    border-spacing: 10px 0px;

}

.big_delete {
    width: 30%
}

.image_sorry {
    margin: 0px 0px 0px 200px;
}