body {
    background: white url("images/maruhuwa.gif");
}

.title {
    margin: 20px 10px 20px 10px;
    padding: 1rem 2rem;
    border-radius: 10px;
    background-image: linear-gradient(left, rgba(250, 140, 160, 0.5) 0%, rgba(255, 200, 70, 0.8) 100%);
    background-image: linear-gradient(to right, rgba(250, 140, 160, 0.5) 0%, rgba(255, 200, 70, 0.8) 100%);
    font-family: cursive;
}

a:link {
    color: blue;
}

a:hover {
    color: darkmagenta;
}

.breadcrumb {
    margin: 10px 10px 10px 10px;
    background-color: rgb(246, 193, 193);
}

div {
    margin: 30px 0px 30px 30px;
    /*上右下左*/
}

.nearest,
.priolity {
    font-size: 20px;
}

.attention {
    font-size: xx-large;
}

.sentence {
    font-size: large;
}

.todo {
    width: 50%;
}

.todo_detail {
    margin: 30px 0px 30px 30px;
}

.priolity_list {
    border-collapse: separate;
    border-spacing: 5px 10px;

}

th {
    font-size: 13px;
    height: 12px;
    text-align: center;
}

.number {
    font-size: 30px;
}