<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Todoの完了・削除</title>
</head>

<body>
    <h1>Todo完了・削除確認画面</h1>
    <p>
        Todoを消去しますと復旧ができません。よろしいですか？
    </p>
    <form action="{% url 'todos:delete' todo.id %}" method="post">
        {% csrf_token %}
        <p>やるべきこと：{{ todo.name }}</p>
        <p>締め切り：{{ todo.deadline | date:'Y/m/d H:i' }}</p>
        <input type="submit" value="完了/削除">
    </form>

    <p> <a href="{% url 'todos:index' %}">◁ ホームに戻る</a> </p>
</body>

</html>