<!--Todoの詳細表示画面-->

<!DOCTYPE html>
<html lang="ja">

<head>

    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'todos/style.css' %}">

    <title>TODOの詳細</title>
</head>

<body>
    <h1 class="title">TODOリスト</h1>
    <ul class="breadcrumb">
        Menu：
        <li><a href="{% url 'todos:index'%}">▷ ホーム🏡</a></li>
        <li><a href="{% url 'todos:create'%}"> ▷ Todoを作成する😉</a></li>
        <li><a href="{% url 'todos:priolity'%}"> ▷ 優先度順リスト👑</a></li>
    </ul>
    <div>
        <h1 class="menu">📝TODO詳細</h1>
        <div>

            <h2 class="todo">{{ todo.name }}</h2>

            {% if todo.detail == '' %}
            <p class="sentence">内容・詳細：特になし</p>>
            {% else %}
            <p class="sentence todo">内容・詳細：{{ todo.detail }}</p>
            {% endif %}
            <p class="sentence">締め切り：{{ todo.deadline | date:'Y/m/d H:i' }}</p>
            <p class="sentence">優先度：{{ todo.priolity }}</p>
        </div>

        <p><a href="{% url 'todos:index' %}">◁ ホームへ移動</a> </p>
    </div>
</body>

</html>