<!--Todoの詳細を表示-->

<!DOCTYPE html>
<html lang="ja">

<head>

    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'todos/style.css' %}">

    <title>TODOの詳細</title>
</head>

<body>
    <h1 class="title">TODOリスト</h1>
    <ul class="breadcrumb">
        Menu：
        <li><a href="{% url 'todos:index'%}">▷ ホーム🏡</a></li>
        <li><a href="{% url 'todos:create'%}"> ▷ Todoを追加する😉</a></li>
    </ul>
    <div>
        <h2>TODOの詳細</h2>

        <div>

            <h2>{{ todo.name }}</h2>


            <h4>内容・詳細：{{ todo.detail }}</h4>

            <h4>締め切り：{{ todo.deadline | date:'Y/m/d H:i' }}</h4>
            <h4>優先度：{{ todo.priolity }}</h4>
        </div>

        <p><a href="{% url 'todos:index' %}">◁ ホームに戻る</a> </p>
    </div>
</body>

</html>